@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.h1{
    color: #FE3B1F;
    font-family: Rowdies;
    font-weight: 400;
    font-size: 3.333vw;
    line-height: 4.140vw;
    margin: 0;
    /* padding-top: 9.115vw; */
    width: 41.042vw;
    text-align: center
}